{% extends 'base.html' %}
{% block content %}

<table id="demo" lay-filter="test"></table>

{% endblock %}

{% block javascript %}
layui.use('table', function(){
  var table = layui.table;

  //The first instance
  table.render({
    elem:'#demo'
    ,height: 500
    ,url:'/weblog/weblog_test/' //Data interface
    ,page: true //Open paging
    ,limit: 10
    ,totalRow: true //开启合计行
    ,cols: [[ //Header
      {field:'id', title:'ID', width:80, sort: true, fixed:'left'}
      ,{field:'name', title:'name', width:100}
      ,{field:'tagline', title:'tagline', width:1000, sort: true}

    ]]
  });

});
{% endblock %}

